.btn-primary{
    border: none !important;
    border-radius: 0;
}

.estrelles{
    background-image: url("../../assets/img/stars.webp") !important;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-size: 70px;
}

